<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apkhooktest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission 
        	android:name="cydia.permission.SUBSTRATE"/>
 
    <application>
    	<meta-data android:name="com.saurik.substrate.main" android:value=".Hook"/>
</application>
</manifest>